<!DOCTYPE html>
<html>
<head>
<title></title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"> </script>
<link type="text/css" rel="stylesheet" href="blog.css"/>
</head>
<body>

<h1>blog like nobody's reading</h1>

<form action="/posts" method="POST"> 
	<div>
		<p>title...</p>
		<input id="title" type="text" name="title" /> 
	</div>
	<div>
		<p>what's up?</p>
		<textarea id="bodytext" name="body"></textarea> 
	</div>
	<div>
		<input id="submit" type="submit" value="post">
	</div>

</form>

<% if(posts != undefined) {%>

<% for (var i in posts) { %>

<div class="blogpost">
	<h1><%= posts[i].title %></h1>
	<p><%= posts[i].body %></p>
	<p><%= posts[i].date %></p>
</div>

<% } %> 

<% }%>

<!--
<table>
<thead>
	
	<tr>
		<th>Title</th>
		<th>Post</th>
	</tr>
	
</thead>
<tbody>
	<% for (var i in posts) { %>
	<tr>
	<td class="title"><%= posts[i].title %></td><br>
	<td class="text"><%= posts[i].body %></td><br>
	<td class="date"><%= posts[i].date %></td>
	</tr>
	<% } %>
</tbody>


</table>

-->
</body>

</html>



